* {
  box-sizing: border-box;
}

body{
  margin: 25px;
  padding: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: blue;
}

.nav{
  display:flex;
  background-color: black;
  padding:20px;
  

}
h1 
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
